/* Add these styles to your style.css file */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection {
  color: #fff;
  background: #007bff;
}

body {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.wrapper {
  max-width: 1100px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery .image {
  padding: 10px;
   width: calc(100% / 3); 
  cursor: pointer;
  
  transition: transform 0.3s ease;
}

.gallery .image:hover {
  transform: scale(1.05);
}

.gallery .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.gallery .image img {
   width: 100%; 
  height: auto;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.gallery .image:hover img {
  transform: scale(1.2);
}

.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
 
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}

.preview-box .details {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.preview-box .details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}

.details .title p {
  margin: 0 5px;
}

.details .title p.current-img {
  font-weight: 500;
}

.details .icon {
  color: #007bff;
  font-size: 20px;
  cursor: pointer;
}

.preview-box .image-box {
  display: flex;
   width: 100%; 
  
  /*////////*/
  position: relative;
}

.image-box .slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.3s ease;
}

.image-box .slide:hover {
  background: rgba(0, 0, 0, 0.7);
}

.slide.prev {
  left: 0;
}

.slide.next {
  right: 0;
}

.image-box img {
  width: 100%;
  height: auto;
  border-radius: 0 0 8px 8px;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px) {
  .gallery .image {
    width: calc(100% / 2);
  }
}

@media (max-width: 600px) {
  .gallery .image {
    width: 100%;
    padding: 6px;
  }
}
